* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    height: 100px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    color: white;

    .left_section {
        display: flex;
        align-items: center;

        h2 {
            width: 100px;
            margin-right: 3rem;
        }

        .home {
            text-decoration: none;
            color: white;
            font-size: 1.4rem;
            font-weight: bold;
            margin-right: 2rem;
        }

        .link {
            text-decoration: none;
            color: white;
            font-size: 0.9rem;
            padding: 0 1rem;
            padding-top: 1rem;
        }
    }

    .login_container {
        a {
            text-decoration: none;
            color: white;

        }
    }
}

main {
    margin-top: 3rem;
    padding: 3rem;
    display: flex;
}

.form_container {
    width: 300px;
    padding: 1rem;
    background-color: lavender;

    .box {
        margin-top: 1rem;
    }

    button {
        margin-top: 1rem;
        padding: 0.4rem;
        background-color: orange;
        color: white;
        width: 5rem;
        cursor: pointer;
    }
}